<h2>Add a Blogpost</h2>

<form class="form blogpost-form">
    <div class="form-group">
        <label for="title-content">Title:</label>
        <input class="form-input" type="text" id="title-content" />
    </div>
    <div class="form-group">
        <label for="body-content">Body:</label>
        <input class="form-input" type="text" id="body-content" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>

<script src="/js/blogposts.js"></script>