<h2>Comment</h2>

<form class="form comment-form">
    <div class="form-group">
        <label for="comment-content">Leave a comment:</label>
        <input class="form-input" type="text" id="comment-content" />
            
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Comment</button>
    </div>
</form>

<script src="/js/comment.js"></script>