<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>The Tech Blog</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>

    {{#if logged_in}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
    {{!-- <div class="card">
      <header class="card"><h3 id="card-h3">This is the header!</h3><p id="card-p">Hello There by General Kenobi</p></header>
      <div class="card-body">Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World!
        Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! </div>
    
      <footer>Content!</footer>
    </div> --}}
    
    {{{ body }}}
    
    
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>