{{!-- {{#each galleries as |gallery|}}
{{> gallery-details}}
{{/each}} --}}
{{#each blogPosts as |blogPost|}}
<div class="card">
    <header class="card"><h3 id="card-h3">{{title}}</h3><p id="card-p">Posted by place_holder on{{date_posted}}</p></header>
    <div class="card-body">{{content}}</div>
</div>
{{/each}}